<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dados">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input type="text" id="nome" [(ngModel)]="nome" clearInput></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select class="custom-options" interface="action-sheet" id="sexo" [(ngModel)]="sexo">
        <ion-select-option value="m">Masculino</ion-select-option>
        <ion-select-option value="f">Feminino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail:</ion-label>
      <ion-input type="email" id="email" [(ngModel)]="email" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" id="senha" [(ngModel)]="senha" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirma Senha:</ion-label>
      <ion-input type="password" id="senha2" [(ngModel)]="senha" clearInput></ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" color="primary">Cadastrar!</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col (click)="Voltar()">Voltar</ion-col>
    <ion-col (click)="login()">Login</ion-col>
  </ion-row>
</ion-footer>