ion-footer{
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
  }
  
  ion-col{
    text-align: center;
    background-color: rgb(0, 81, 255);
  }
  
  .box{
    background-color: rgb(0, 81, 255);
    text-align: center;
    margin: 5px;
    border: 3px solid rgb(0, 81, 255);
    border-radius: 3px;
    font-size: 20px;
  }
  
  img{
    margin-top: 15px;
    width: 100%;
    height: 30vh;
  }
  
  .dados{
    margin-top: 5%
  }